* {
    font-family: monospace;
    background-color: rgb(241, 159, 159);
    padding: 0;
    margin: 0;

}



#app-name {
    padding: 1vh;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 2vh;
    text-align: center;
}

#timer {
    font-size: 8vh;
}

button {
    background-color: rgb(128, 67, 67);
    color: white;
    text-align: center;
    width: 20vh;
    height: 5vh;
    border: 1px solid rgb(37, 12, 12);
    box-shadow: 3px 3px 1px black;
    border-radius: 3vh;
    transition:all 0.3s ease;
}

button:hover {
    background-color: rgb(43, 21, 21);
}
