* {
    font-family: monospace;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(241, 159, 159);
}

#app-menu {
    padding: 1vh;
}

#menu {
    float: right;
}

#menu button {
    height: 5vh;
    width: 5vh;
}

#colors {
    background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  gap: 1vh;
}

.options {
    display: none;
    
}

i {
    background-color: transparent;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

#time-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vh;
    height: 40vh;
}

#timer-circle {
    position: absolute;
    width: 80%;
    height: 80%;
}


#timer {
    position: relative;
    font-size: 8vh;
}

@keyframes showItems {
    from {opacity: 0;}
    to {opacity: 1;}
}

button {
    background-color: rgb(128, 67, 67);
    color: white;
    border: 1px solid rgb(37, 12, 12);
    box-shadow: 3px 3px 1px black;
    border-radius: 3vh;
    transition: all 0.3s ease;
    cursor: pointer;
}

#buttons button {
    width: 20vh;
    height: 5vh;
}

button:hover {
    background-color: rgb(43, 21, 21);
}
