* {
    font-family: monospace;
    background-color: rgb(241, 159, 159);
    padding: 0;
    margin: 0;

}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 2vh;
    text-align: center;
}

#timer {
    font-size: 8vh;
}

button {
    text-align: center;
    width: 20vh;
    height: 5vh;
    border-radius: 3vh;
}