* {
    font-family: monospace;
    background-color: rgb(241, 159, 159);
    padding: 0;
    margin: 0;
}

#app-name {
    padding: 1vh;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

#time-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vh;
    height: 40vh;
}

#timer-circle {
    position: absolute;
    width: 80%;
    height: 80%;
}


#timer {
    position: relative;
    font-size: 8vh;
}

button {
    background-color: rgb(128, 67, 67);
    color: white;
    width: 20vh;
    height: 5vh;
    border: 1px solid rgb(37, 12, 12);
    box-shadow: 3px 3px 1px black;
    border-radius: 3vh;
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: rgb(43, 21, 21);
}